/* @media (max-height: 750px) {
  [data-pet-visual-css] {
    max-height: 320px;
  }

  [data-pet-coins-css] {
    top: 5px;
    left: 5px;
  }
}

@media (max-height: 700px) {
  [data-pet-visual-css] {
    max-height: 300px;
  }
}

@media (max-height: 650px) {
  [data-pet-visual-css] {
    max-height: 250px;
  }
}

@media (max-height: 750px) and (min-width: 640px) {
  [data-pet-visual-css] {
    max-height: 270px;
  }

  [data-pet-body-css] {
    padding: 10px;
  }

  header nav {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-height: 550px) {
  [data-pet-visual-css] {
    max-height: 200px;
  }
}

@media (max-height: 500px) {
  [data-pet-body-css] {
    padding: 10px;
  }
  [data-pet-visual-css] {
    max-height: 150px;
  }
} */
