@import 'tailwindcss';

@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: light --default, dark --prefersdark;
}

@plugin "tailwind-scrollbar";

@theme {
  /* Remove Tailwind palette, as using DaisyUI palette */
  --color-*: initial;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
